# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Database
*.db
*.sqlite3

# Logs
logs/
*.log
backend/logs/

# Uploads
backend/uploads/

# Environment Variables
.env
.env.*
!.env.example

# Certificates & SSL Secrets
*.pem
*.crt
*.key
*.cert

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Build files
dist/
build/